<details name="faq" name="faq">
    <summary>How do I join The 512KB Club?</summary>
    <p>If you're interested in getting your site added to <b>The 512KB Club</b>, all you need to do is follow these
        instructions:</p>

    <ol>
        <li>Do a <a target="_blank" href="https://www.debugbear.com/test/page-size-checker?device=desktop">Debugbear Page Weight Scan</a> on your website.</li>
        <li>Once complete, check the total "Page Weight" and make sure the <b>uncompressed</b> size of your site is less than 512KB.</li>
        <li>If your site satisfies this requirement, add it to the existing <code>_data/sites.yml</code> file (following the same format as other members) and <a href="https://lists.sr.ht/~bt/512kb-club-devel">submit a patch</a>.</li>
        <li>I will then review your patch and merge it into master. Once merged, your site will be added to the list.</li>
    </ol>

    <p class="small"><b>Note:</b> <i>I reserve the right to not add sites based on whether I think they're suitable to
            be added or not.</i></p>
</details>
