<details name="faq" name="faq">
    <summary>How do I join The 512KB Club?</summary>
    <p>If you're interested in getting your site added to <b>The 512KB Club</b>, all you need to do is follow these
        instructions:</p>

    <img src="/assets/images/submit-screenshot.png" alt="Firefox network tab showing total website size">

    <ol>
        <li>Check your website's <i>total</i> size (not transferred!) using <strong>Firefox's Network tab</strong>. Make sure you have cache disabled and ensure all resources have loaded. You might need to scroll the entire page if any assets are loaded in dynamically.</li>
        <li>If your site satisfies this requirement, add it to the existing <code>_data/sites.yml</code> file (following the same format as other members) and <a href="mailto:512kb-club@freelists.org">submit a patch via email</a>. You can also subscribe to the official mailing list here: <a href="https://freelists.org/list/512kb-club">freelists.org/list/1mb-club</a>.</li>
        <li>I will then review your patch and merge it into master. Once merged, your site will be added to the list.</li>
    </ol>

    <p class="small">If you have never submitted a patch with git email, take a look at this very helpful guide: <a href="https://git-send-email.io/">git-send-email.io/</a></p>

    <p class="small"><b>Note:</b> <i>I reserve the right to not add sites based on whether I think they're suitable to be added or not. Please <b>DO NOT</b> use tickets to submit websites.</i></p>
</details>
