<!doctype html>
<html lang="en-CA">
<!-- This page was last updated on {{ "now" | date: "%Y-%m-%d %H:%M:%S" }}Z -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
</head>

<body>
    <a name="top"></a>

    <header>
        {% include navigation.html %}
        <h1>The 512KB Club</h1>
    </header>

    <main>

        {{ content }}

    </main>

    <footer>

        <p>The 512KB Club is maintained with &hearts; for a performant web.</p>

        <p>Source code for this website can be found on both <a href="https://codeberg.org/btxx/512kb-club">Codeberg</a> &amp; <a href="https://git.sr.ht/~bt/512kb-club">SourceHut</a></p>

        <p>This project was originally created by <a href="https://kevquirk.com">Kev Quirk</a>.<br> Drop him a line and thank him if you get the chance!</p>

        <a href="#top">^ TOP ^</a>
        
        <span><img src="/assets/images/freebsd.gif" alt="Powered by FreeBSD"><img src="/assets/images/apache-powered.gif" alt="Powered by Apache"></span>

    </footer>

</body>

</html>
